*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body {background-color:white;}

.max-width{
    padding: 0 200px;
    margin: auto;

}
/* navbar styling */
.navbar{
    position: fixed;
    padding: 30px 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: white;
}
.navbar.sticky .logo a{
    font-size: 30px;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0 auto 0px;

}
.navbar .logo a{
    color: #2D3F70;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color:#2D3F70;
    font-size: 18px;
    font-weight: 500;
    margin-left: 70px;
    transition: color 0.3 ease;
}

.navbar .menu li a:hover{
    color:#4399FF;

}

/** menu button **/
.menu-btn{
    color: blue;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
    
    display: flex;
    background:url("assets/websitebg.png") no-repeat center;
    height: 100vh;
    color: #2D3F70;
}

.home .max-width{
    margin: auto 0 auto 0px;
}

.home .home-content .text-1{
    font-family: 'Open Sans', sans-serif;
    font-size: 140px;
    font-weight: 600;
    display: inline-block;
}
.home .home-content .text-2{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #4399FF;
    margin-top: 12.5px;
    font-weight: normal;
}
.home .home-content .text-3{
    min-width: 100%;
    width: 0px;
    line-height: 1.8;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #6C7999;
    margin-top: 25px;
    font-weight:lighter;

}
/* Resume */
.home .links  li{
    margin-top: 75px;
    list-style: none;
    display: inline-block;
    background: transparent;
}
.home .links .resume a{
    display:inline;
    border-radius: 100px;
    color:white;
    background: #4399FF;
    font-size: 30px;
    padding: 16px 66px;
    margin-top: 40px;
    transition: all 0.3s ease;
}
.home .links .contact a{
    display:inline;
    border-radius: 100px;
    color:#4399FF;
    background: white;
    font-size: 30px;
    margin-left: 40px;
    padding: 12px 40px;
    border: 3px solid #4399FF;
    margin-top: 40px;
    transition: all 0.3s ease;
}


.home .home-content .links .resume a:hover{
    color:#4399FF;
    padding: 14px 60px;
    border: 3px solid #4399FF;
    background: white;
}
.home .home-content .links .contact a:hover{
    color:white;
    background:#4399FF ;
}

/* News Section */
.news .links{
    display: flex;
}
.news .links .fox{
    padding-left: 9vw;
    padding-right: 9vw;
    margin-left: -9vw;
    flex: 2.1;
}
.news .links .lacrier{
    padding-left: 9vw;
    padding-right:9vw;
    flex: .895;
}
.news .links .nyt{
    padding-left: 9vw;
    padding-right: 9vw;
    flex: .774;
}
.news .links .nbc{
    padding-left: 9vw;
    padding-right: 9vw;
    flex: 1.77;
    margin-right: -9vw;

}
section{
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    overflow-x: hidden;
}

/*What I Do Section*/
.title{
    width: 100%;
    color: #2D3F70;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 50px;
}
.what-i-do .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 100px;
}

.what-i-do .content .card{
    width: calc(33% - 115px);
    background: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    cursor: pointer;
    box-shadow: 0px 18px 50px rgba(67,153,255,.15);
    border-radius: 25px;
    margin-bottom: 50px;
}
.what-i-do .content .name{
    color: #2D3F70;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
}
.what-i-do .content .link{
    margin-top: 35px;
    margin-bottom: 25px;
}
.what-i-do .content .link a{
    border-radius: 100px;
    color:#4399FF;
    background: white;
    font-size: 18px;
    padding: 12px 50px;
    border: 2px solid #4399FF;
    transition: all 0.3s ease;
}
.what-i-do .content .link a:hover{
    color:white;
    background:#4399FF ;
}
.what-i-do .content img{
    height: 150px;
    width: auto;
    object-fit: cover;

}
.what-i-do .content .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.what-i-do .content .card:hover .box{
    transform: scale(1.05);
}

/*Testimonial Section*/
.testimonial .carousel{
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 100px;*/
    width: 100%;
}
.testimonial .carousel .card{
    max-width: 100%;
    margin: auto;
    background: white;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 10px 25px rgba(67,153,255,.125);
    border-radius: 25px;
    margin-bottom: 50px;
}
.testimonial .carousel .card .box{
    display: flex;
    align-items:center;
    transition: all 0.3s ease;
}
.testimonial .carousel .card .quote{
    color: #2D3F70;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 20px;

}
.testimonial .carousel .name{
    color: #2D3F70;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}
.testimonial .carousel .text{
    margin-left: 20px;
}
.testimonial .carousel .position{
    color: #6C7999;
    font-size: 18px;
}
.testimonial .carousel img{
    max-width: 75px;
    display: block;
    height: auto;
}
.owl-dot{
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #4399FF!important;
    box-shadow: 0px 18px 50px rgba(67,153,255,.15);
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: #4399FF!important;
  }

  /*Projects Section*/

.projects .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.projects .content .card{
    width: 100%;
    background: white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 18px 50px rgba(67,153,255,.15);
    border-radius: 25px;
    margin-bottom: 35px;
    
}
.projects .content .box .header{
    color: #2D3F70;
    margin-top: 25px;
    font-size: 23px;
    font-weight: 600;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
    line-height: 1.8;

}

.projects .content .link a:hover{
    color:white;
    background:#4399FF ;
}

.projects .content .card .box{
    display: flex;
    transition: all 0.3s ease;
    align-items: center;
    /**flex-direction: column;**/
}
.projects .content .card .box2{
    display: flex;
    transition: all 0.3s ease;
    align-items: center;
    flex-direction: row-reverse;
}



.projects .content .box .description{
    color: #2D3F70;
    margin-top: 15px;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    font-weight:100;
    line-height: 1.8;
}
.projects .content .box .link{
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: 25px;
    text-align: left;
    display: inline-block;
    margin-right: auto; 
}
.projects .content .link a{
    border-radius: 100px;
    color:#4399FF;
    background: white;
    font-size: 16px;
    padding: 12px 50px;
    border: 2px solid #4399FF;
    transition: all 0.3s ease;
}
.projects .content .box img{
    width: 325px;
    height: auto;
    object-fit:cover;
    margin-left: 25px;
}
.projects .content .box .tags{
    color:#4399FF;
    font-size: 20px;
    text-align: right;
    display: inline-block;
    margin-right: 45px;
    margin-top: 30px;
    margin-left: auto; 

}

.projects .container{
    display: flex;
    justify-content: space-around;
}
.projects .content .box2 .tags{
    color:#4399FF;
    font-size: 20px;
    text-align: left;
    display: inline-block;
    margin-left: 45px;
    margin-top: 30px;
    margin-right: auto; 

}
.projects .content .box2 .link{
    margin-top: 35px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: auto; 
    text-align: right;
    display: inline-block;
}
.projects .content .box2 .header{
    color: #2D3F70;
    margin-top: 25px;
    font-size: 23px;
    font-weight: 600;
    margin-right: 25px;
    margin-left: 25px;

    line-height: 1.8;
    text-align: right;
}
.projects .content .box2 .description{
    color: #2D3F70;
    margin-top: 15px;
    font-size: 18px;
    margin-right: 25px;
    font-weight:100;
    text-align: right;
    line-height: 1.8;
    margin-left: 25px;

}
.projects .content .box2 img{
    width: 325px;
    height: auto;
    object-fit:cover;
    margin-right: 25px;
}
  /*Contact Section*/

  .contact{
    background:url("assets/contactbg.png") no-repeat center;
    padding-bottom: 80px;

  }
  .contact .card{
    width: 100%;
    padding: 60px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 18px 50px rgba(67,153,255,.15);
    
  }

.contact .insta{
    margin-top: 30px;
    height: 40px;
    margin-left: 10px;
    width: auto;
    display: inline-block;

}
.contact .linked{
    margin-top: 30px;
  height: 40px;
  width: auto;
  display: inline-block;

}
  .contact .insta img{
      height: 40px;
      width: auto;

  }
  .contact .linked img{
    height: 40px;
    width: auto;

}
  .input-fields input:focus{
    outline: none !important;
    border:2px solid #4399FF;
}
.contact .header{
    font-size: 32px;
    color: #2D3F70;
    font-weight: 600;
}
  .contact-form{
    flex-direction: column;
  }
  .contact .comment{
      font-size: 20px;
      color: #2D3F70;
      margin-top: 25px;
      line-height: 1.8;

  }
  .contact .comment2{
    font-size: 20px;
    color: #2D3F70;
    margin-top: 15px;
    line-height: 1.8;

}
  
  .input-fields{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .input-fields,
  .msg{
    width: 100%;
  }
  
  .input-fields .input,
  .msg textarea{
    
    margin: 10px 0;
    background: transparent;
    border: 2px solid #2D3F70;
    padding: 12px;
    color: #4399FF;
    width: 100%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;

    
  }
  
  .msg textarea{
    height: 212px;
  }
  .msg textarea:focus{
    outline: none !important;
    border:2px solid #4399FF;
}
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4399FF;
    opacity: 50%;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #4399FF;
    opacity: 50%;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #4399FF;
    opacity: 50%;
  }
  
  .btn {
    margin-top: 20px;
      background: #4399FF;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
  }
  
  /* Responsive media query */
@media (max-width: 1600px){
    .max-width{
        padding: 0 100px;
    }
    .navbar .logo a{
        font-size: 30px;
    }
    .navbar.sticky .logo a{
        font-size: 25px;
    }
}
@media (max-width: 1360px){
    .what-i-do .content .card{
        width: calc(33% - 50px);
        }
        .what-i-do .content{
            column-gap: 50px;
        }
}

@media (max-width: 1300px){
    .max-width{
        padding: 0 40px;
    }
    .home .home-content .text-1{
        font-size: 120px;
    }
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 26px;
    }
    .navbar .logo a{
        font-size: 25px;
    }
    .navbar.sticky .logo a{
        font-size: 20px;
    }
    .home .links .resume a{
        font-size: 26px;
        padding: 16px 66px;
    }
    .home .home-content .links .resume a:hover{
        padding: 13px 60px;
    }
    .home .links .contact a{
        font-size: 26px;
        margin-left: 15px;
        padding: 12px 40px;
    }
    .navbar .menu li a{
        font-size: 16px;
    }

    
}
@media (max-width: 1040px){
    .projects .content .box .description{
        font-size: 15px;
    }
    .projects .content .link a{
        font-size: 16px;
        padding: 12px 50px;

    }
    .projects .content .box img{
        width: 300px;
    }
    .projects .content .box2 img{
        width: 300px;
    }
    .projects .content .box .tags{
        font-size: 16px;
    }
    .projects .content .box2 .tags{
        font-size: 16px;
    }
    .projects .content .box2 .header{
        font-size: 18px;
    }
    .projects .content .box .header{
        font-size: 18px;
    }
    .projects .content .box2 .description{
        font-size: 15px;
    }

    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 99;
    }
    .menu-btn i.active::before{
        content: "\f00d"
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;

    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-1{
        font-size: 100px;
    }
    .home .home-content .text-2{
        font-size: 36px;
    }
    .home .home-content .text-3{
        font-size: 22px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .home .links .resume a{
        font-size: 24px;
        padding: 16px 66px;
    }
    .home .home-content .links .resume a:hover{
        padding: 13px 60px;
    }
    .home .links .contact a{
        font-size: 24px;
        margin-left: 10px;
        padding: 12px 40px;
    }
    .what-i-do .content .card{
        width: calc(50% - 50px);
        }
        .what-i-do .content{
            column-gap: 50px;
        }

}
@media (max-width: 950px){
    .projects .content .box2 .header{
        font-size: 16px;
    }
    .projects .content .box2 img{
        width: 250px;
        height: 200px;
    }
    .projects .content .box img{
        width: 250px;
        height: 200px;
    }
    .projects .content .box .header{
        font-size: 16px;
    }
}
@media (max-width: 850px){
    .projects .content .box2 .header{
        font-size: 15px;
    }
    .projects .content .box2 img{
        width: 200px;
        height: 200px;
    }
    .projects .content .box img{
        width: 200px;
        height: 200px;
    }
    .projects .content .box .header{
        font-size: 15px;
    }
    .projects .content .box2 .description{
        font-size: 14px;
    }
    .projects .content .box .description{
        font-size: 14px;
    }
    .projects .content .link a{
        font-size: 14px;
        padding: 9px 40px;
    }
    
}


@media (max-width: 750px){
    .projects .content .card .box{
        flex-direction: column;

    }
    .projects .content .card .box2{
        flex-direction: column;

    }
    .projects .content .box img{
        width: calc(100% - 60px);
        border-radius: 20px;
    }
    .projects .content .box2 img{
        width: calc(100% - 100px);
        border-radius: 20px;
    }
    .navbar .logo a{
        font-size: 20px;
    }
    .navbar.sticky .logo a{
        font-size: 18px;
    }
    .home .home-content .text-1{
        font-size: 110px;
    }
    .home .home-content .text-2{
        font-size: 44px;
    }
    .home .home-content .text-3{
        font-size: 24px;
    }
    .home{
        background:white;
    }
    
    .max-width{
        padding: 0 50px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 9px 25px;
        
    }
    .contact .comment{
        font-size: 16px;  
    }
    .input-fields .input,
    .msg textarea{
      font-size: 16px;
    }
    .contact .comment2{
        font-size: 16px;
  
    }
    .msg textarea{
      height: 80px;
    }
    .input-fields,
    .msg{
      width: 100%;
    }
    .home .links .resume a{
        font-size: 28px;
        padding: 22px 30vw;
    }
    .home .home-content .links .resume a:hover{
        padding: 20px 29vw;
    }
    
    .home .links .resume{
        width: 100%;
    }
    .home .links .contact a{
        font-size: 28px;
        padding: 20px 25.5vw;
        margin-left: 0px;

    }
    
    .home .links .contact{
        margin-left: 0;
    }
    .what-i-do .content .card{
        width: calc(50% - 10px);
        }
    .what-i-do .content{
        column-gap: 10px;
    }
    
}
@media (max-width: 650px){
    .home .links .contact a{
        padding: 20px 24vw;
    }
    .what-i-do .content{
        justify-content: center;
    }
    .what-i-do .content .card{
        width: calc(100% - 100px);
        }
    .home{
        background:white;
    }
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-1{
        font-size: 100px;
    }
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 22px;
        line-height: 2;
    }
    .news .links .fox{
        padding-left: 8vw;
        padding-right: 8vw;
        margin-left: -8vw;
    }
    .news .links .lacrier{
        padding-left: 8vw;
        padding-right:8vw;
    }
    .news .links .nyt{
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .news .links .nbc{
        padding-left: 8vw;
        padding-right: 8vw;
        margin-right: -8vw;
    
    }

}
@media (max-width: 550px){
    .navbar.sticky .logo a{
        font-size: 16px;
    }
    .navbar .logo a{
        font-size: 18px;
    }
    .what-i-do .content .card{
        width: calc(100% - 65px);
        }
    .max-width{
        padding: 0 20px;
    }
    .home .home-content .text-1{
        font-size: 90px;
    }
    .home .home-content .text-2{
        font-size: 40px;
    }
    .home .home-content .text-3{
        font-size: 20px;
        line-height: 2;
    }

    .input-fields .input,
    .msg textarea{
      font-size: 14px;
    }
    .msg textarea{
      height: 80px;
    }
    .input-fields,
    .msg{
      width: 100%;
    }
    .contact .card{
        padding: 30px;
        
      }
}
    @media (max-width: 490px){
        .news .links .fox{
            padding-left: 6vw;
            padding-right: 6vw;
            margin-left: -6vw;
        }
        .news .links .lacrier{
            padding-left: 6vw;
            padding-right:6vw;
        }
        .news .links .nyt{
            padding-left: 6vw;
            padding-right: 6vw;
        }
        .news .links .nbc{
            padding-left: 6vw;
            padding-right: 6vw;
            margin-right: -6vw;
        
        }
        .what-i-do .content .card{
            width: calc(100% - 40px);
            padding-top: 20px;
            padding-bottom: 15px;
            }
        .max-width{
            padding: 0 20px;
        }
        .home .home-content .text-1{
            font-size: 80px;
        }
        .home .home-content .text-2{
            font-size: 33px;
        }
        .home .home-content .text-3{
            font-size: 19px;
            line-height: 2;
        }
        .home .links .contact a{
            padding: 20px 24vw;
            font-size: 22px;

        }
        .home .links .resume a{
            font-size: 22px;

        }
    }
        @media (max-width: 440px){
            .what-i-do .content .card{
                width: calc(100% - 30px);
                }
            .max-width{
                padding: 0 20px;
            }
            .home .home-content .text-1{
                font-size: 70px;
            }
            .home .home-content .text-2{
                font-size: 30px;
            }
            .home .home-content .text-3{
                font-size: 16px;
                line-height: 2;
            }
            .home .links .contact a{
                padding: 20px 23vw;
        
            }
            
        }
        @media (max-width: 400px){
           
            .home .home-content .text-1{
                font-size: 67px;
            }
            .home .links .contact a{
                font-size: 20px;

        
            }


            
        }
        @media (max-width: 375px){
            .home .links .resume a{
                font-size: 18px;
                padding: 17px 30vw;
            }
            .home .home-content .links .resume a:hover{
                padding: 15px 29vw;
            }
            .home .links .contact a{
                padding: 15px 24vw;
                font-size: 18px;
            }
            .what-i-do .content .card{
                width: calc(100% - 30px);
                }
            .max-width{
                padding: 0 20px;
            }
            .home .home-content .text-1{
                font-size: 50px;
            }
            .home .home-content .text-2{
                font-size: 26px;
            }
            .home .home-content .text-3{
                font-size: 16px;
                line-height: 2;
            }
        }
        @media (max-width: 300px){
            .home .home-content .text-1{
                font-size: 40px;
            }
            .home .home-content .text-2{
                font-size: 22px;
            }
            .home .links .contact a{
                padding: 15px 22vw;
            }
        }
    




